<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <header>
    <h1><%= htmlWebpackPlugin.options.title %></h1>
  </header>

  <main>
    <img id="staticMap" width="640" height="425" data-api-key="<%= htmlWebpackPlugin.options.apiKey %>">

    <!-- Step 1: Find a location. -->
    <section id="stepOne" data-step="1" class="active">
      <input type="text" class="controls" id="placeSearch" placeholder="Search a place name or an address...">
      <div id="map"></div>
    </section>

    <!-- Step 2: Select a region. -->
    <section id="stepTwo" data-step="2">
      <svg xmlns="http://www.w3.org/2000/svg"></svg>
    </section>

    <!-- Step 3: Select units in the grid map. -->
    <section id="stepThree" data-step="3">
      <svg xmlns="http://www.w3.org/2000/svg"></svg>
      <div class="controls" id="topLeft">
        <label for="gridUnitSize">Grid Unit Size:</label>
        <input id="gridUnitSize" type="range" min="20" max="60" value="40">
      </div>
      <div class="controls" id="topRight">
        <label id="gridScale">Scale: 16px = 3m</label>
      </div>
    </section>
  </main>

  <nav>
    <div>
      <button id="back" disabled>Back</button>
      <h2 id="stepText">Find a location.</h2>
      <button id="next">Next</button>
    </div>
  </nav>

  <footer>
    <p>
      Concept developed by Bryce St. Pierre in 2017.<br>View the code
      <a href="https://github.com/BryceStPierre/aerial-grid-mapping" target="_blank" rel="noopener">on GitHub</a>.
    </p>
  </footer>

  <!-- Load Google Web Fonts asynchronously. -->
  <script>WebFontConfig={google:{families:["Inter:400,700"]}},function(){var e=document.createElement("script");e.src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js",e.async="true";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)}();</script>
  
  <!-- Load Google Maps APIs. -->
  <script
    src="https://maps.googleapis.com/maps/api/js?key=<%= htmlWebpackPlugin.options.apiKey %>&libraries=places"></script>
</body>
</html>
